.container{
    padding: 0 14px;
}

body{
  background-color: whitesmoke;
}

.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
li{
    list-style-type: none;
}
.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}
.text-right{
  text-align: right;
}

a{
  text-decoration: none;
}

.section{
    padding: 40px;
}

.mx-auto{
    margin: auto;
}


.text-white{
    color: white;
}



.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
  }


  .card{
      width:230px;
      height: 200px;
      margin: 10px;
      transition: 0.5s;
  }
/* .card:hover .card-content{
    display: block;
    background: white;
    color: black;
    height: 50%;
} */

/* .card .card-content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
  } */
.card:hover .day-content{
    display: none;
}
  .content{
    /* margin: 30% auto auto auto !important; */
    margin-top: 30%;
    
}
/* 
.bg-white{
    background: white;
}

  .card-content:hover{
      display: block;
  } */
  .card {
    position: relative;
    padding: 0;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

  .card-content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }
  .card .card-content:hover {
    opacity: 1;
  }
  .card .card-content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.6s;
  }
  .card .card-content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
  }