body{
    font-family: sans-serif;
    width: 100%;
    margin: 0;
}

.firstsection{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)), url("../img/JavaScript-58acbb8a3df78c345bad32c2.jpg");
    height: 400px;
    /* width: 100%; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

li a{
    color:gray;
    text-decoration: none;
    margin-top: 50%;
}

.navbar{
    height: 20%;
}



#header-text{
    width: 70%;
    padding-top: 10%;
}

.header-title{
    font-size: 45px;
}

#day1{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)), url("../../Day1/asset/img/about.jpg");
    background-size: cover;
}
#day2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)), url("../../Day2/assets/img/pexels-photo-1156684.jpeg");
    background-size: cover;
}
#day3{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)), url("../img/JavaScript-58acbb8a3df78c345bad32c2.jpg");
    background-size: cover;
}
#day4{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)), url('../../Day4/img/dariusz-sankowski-dvK_CT1Wg78-unsplash.jpg');
    background-size: cover;
}
#socials{
    align-self: center;
    width: 10%;
}

a i{
    color: gray;
    margin: 1px;
}
.main{
    width: 100%;
    /* margin-top: -20px; */
}
header{
    top: 0 !important;
    /* height: 50px; */
}
.navbar{
    margin: 0;
}