body {
  /* overflow: hidden; Hide scrollbars */
  /* overflow-y: hidden; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.text-tint-blue {
  color: #0675ff;
}

.heading-serif {
  font-family: everett,sans-serif;
  font-weight: 100;
  line-height: 0.95;
  letter-spacing: -1.76px;
  font-size: 80px;
}


.bg-black{
  background-color: black !important;
}


.text-darkish{
  color:#090909;
}




@media screen and (min-width: 1025px) and (min-width: 480px)
{
  [data-component=intro-content-block] .section-description {
    font-size: calc(50px + 80*(100vw - 480px)/960);
}
}
@media (min-width: 1025px)
{
  [data-component=intro-content-block] .section-description {
    font-size: 50px;
}
}
@media screen and (min-width: 480px)
{
  .heading-serif {
    font-size: calc(50px + 50*(100vw - 480px)/960);
}
}

[class*=heading-0] {
    font-family: everett,sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
}
*, :after, :before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
[data-component=heading] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding: 4.5rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(0,0,0,0);
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: Open Sans,sans-serif;
}
html {
    font-size: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}


.bg-darker{
  background-color: #090909;
}

.bg-a-bit-light{
  background-color: rgb(236, 236, 236);
}

.color-yellow{
  color:#feb23e
}

.border-bottom-white{
  border-bottom: 2.8px white solid;
}

.heading-serif em{
  font-size: 1em;
  font-family:cambon,sans-serif;
}