#landing-video{
    height:100%;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 4%;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    /* left: 0; */
    background-color: transparent;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
    /* display: none; */
  }


  .sidenav-fixed{
      position:fixed;
      top:0;
  }

  .sidenav-black{
      background:black;
      color:white;
  }
  .sidenav-white{
      background-color: white;
      color:black;
  }

  /* .engineshow{
      cursor: ;
  } */
  
  