*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}
.mx-auto{
    margin: auto;
}
.back{
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.774)), url('./img/WhatsApp Image 2020-10-16 at 02.41.21.jpeg');
    background-size:cover;
    z-index:-100;
}

.area{
    font-size:100px;
    font-weight:bold;
    width: 70%;
    text-align: center;
}

.one{
    padding-left: 2%;
}

.name{
    font-size: 280px;
    /* padding-right: 25%; */
    /* text-align: right; */
}

.det{
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 150px;
    padding: 10%;
}

.imgarea{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
}

.img{
    width: 50%;
    margin-top: 80px;
}

img{
    width: 100%;
}

.right{
    margin-left: 50%;
}


@media screen and (max-width:700px){
    .imgarea{
        padding: 0;
    }
    .one{
        padding-left: 0;
    }
    .name{
        font-size: 100px;
        /* padding-right: 25%; */
        /* text-align: right; */
    }
    .area{
        font-size:100px;
        font-weight:bold;
        width: 70%;
        text-align: center;
        height:100%;
        padding-top: 20%;
    }
}