body{
    background-color: white;
}
.container{
    padding: 0 14px;
}
#showroom{
    width: 80%;
}
.outerlayer{
    height: 100%;
    border: 2px solid black;
    /* border-radius: 20px; */
    border-radius: 23px;
    /* background-color: white; */
    background-color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caption{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: gray;
    padding-left: 10%;
    padding-top: 2%;
}
.image-title{
    font-size: 49px;
    margin-top: 20%;
    padding: 10% 0 0 10%;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom: 0;
    /* position: absolute; */
}
a{
    text-decoration: none;
}
.btn{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    /* width: 100px; */
    font-family: sans-serif;
    color: gray;
    margin-right: 4px;
}
.phone{
    height: 530px;
    width: 301px;
    margin: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
}

.text-btn{
    padding: 10% 10%;
}

#contactbtn{
    background-color: black;
    color: white;
}

.bg-white{
    background-color: white;
}


.text-white{
    color: white;
}

.time-layer{
    padding:24% 30% 0 30%;
    font-family: sans-serif;
    /* line-height: 19px; */
    font-size: 40px;
    font-weight: lighter;
    margin: 0;
}

.notification{
    height: 12%;
    width: 96%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.411);
    margin-top: 7px !important;
}

.notification-area{
    /* margin-top: 10px; */
}

.screen{
    /* background-color: whitesmoke; */
    background-color: rgb(141, 135, 135);
    background-image: url('./assets/img/photo-1523206489230-c012c64b2b48.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 97%;
    margin: 2%;
    border-radius: 12px;
    
}

.backcamera{
    height: 75px;
    width: 70px;
    margin: 19px;
    background-color: gray;
    border-radius: 10px;
}

#top{
    width: 70%;
    /* margin-top: 3%; */
    /* padding: 2%; */
}

.applelogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 80px;
}

.camera{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 3px;
}

#auxcam{
    margin-top: 50%;
}

#fingerprint{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 0.2), 0 6px 20px 0 rgba(2, 1, 1, 0.19);
    margin-top: 2%;
    border: 1px gray solid;
}

.front-camera{
    height: 10px;
    border-radius: 50%;
    background-color: black;
    width: 10px;
    margin-top: -2px;
}
#back{
    background: black;
    /* height: auto; */
}
.network{
    width: 80%;
    background: black;
    height: 7px;
    border-radius: 40px;
}

.d-flex, .d-flexim{
    display: flex;
}

.textarea{
    width: 70%;
}
.mx-auto{
    margin: auto;
}

.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}

.top-design{
    height: 30px;
    /* background-color: black; */
    background-color: black;
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 15%;
}

.bg-black{
    background-color: black;
}

@media screen and (max-width:700px){
    .d-flex{
        display: block;
    }
    .textarea{
        width: 100%;
    }
}
